.container{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    display: grid;
    background-color: aliceblue;
    grid-template-areas: 
    /* "a b c a b c a b c"
    "b c b c b c b c b"
    "a c a c a c a c a"
    "b c b c b c b c b"
    "a c a c a c a c a" */
    "a b c "
    "a b c"
    "a b c"
    "a b c"
    "a b c"
    "a b c"
    "a b c"
    "a b c"
    "a b c"
    "a b c"
    ;
}

/* .container div{
    width: 50px;
    height: 50px;
} */

.white{
    grid-area: a;
    background-color: gray;
    width: 50px;
    height: 50px;
}

.red_light{
 grid-area: c;
 background-color: rgb(184, 89, 89);
 width: 50px;
 height: 50px;
}

.red_bold{
    width: 50px;
    height: 50px;
    grid-area: b;
    background-color: red;
}